<launch>

<!-- Launch the Experiment Value node -->
    <!-- <node name="Plots" pkg="simulations" type="Plots.py" output="screen"/> -->


<!-- Launch the plotting node (Python script) -->
    <node name="plot_actual_path" pkg="simulations" type="plot_actual_path.py" output="screen"/>
    <node name="Navigation" pkg="simulations" type="Navigation.py" output="screen"/>


</launch>